<%- include('../partials/header') %>

<section id="show-page">
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>departs: </div>
  <div><%= flight.departs %></div>
  <div>airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Now Flying: </div>
  <div><%= flight.nowflying ? 'Yes' : 'Nope' %></div>
</section>

<!-- new markup below -->
<br><br><h2>destinations</h2>
<form id="add-depart-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>arrival:</label>
  <input type="date" name="depart">
  <label>airports:</label>
  <select name="Airport">
    <option value="DFW">DFW</option>
    <option value="SAN">SAN</option>
    <option value="AUS">AUS</option>
  </select>
  <input type="submit" value="Add Arrival">
</form>

<!-- // Create a list of reviews here -->
<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Arrival Date</th>
        <th>Airport</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(f) { %>
        <tr>
         <td><%= f.createdAt.toLocaleDateString() %></td> 
          <td><%= f.airports %></td>
          <td><%= f.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Departs Yet</h5>
<% } %>
<%- include('../partials/footer') %>